body {
	background-color: #dcdcca;
	font: 16px/1.5 'Source Sans Pro', sans-serif;
	color: #444;
	padding: 0; margin: 0;

	overflow: hidden;

 	-moz-user-select: none;
 	-webkit-user-select: none;
 	-ms-user-select: none;
}

header {
	margin-left: 100px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 1.2em;
	background-color: #e53b51;
	color: #fff;
	padding: 5px 20px;
}

header h1 { 
	font-size: 1em;
	font-weight: 200;
	line-height: 1.1;
}

header span.control {
	background-color: #ce3549;
	padding-left: 3px;
	padding-right: 10px;
	position: relative;
	border-radius: 2px;
}

header span.control:after,
.overview div span:after,
.zoomed div span:after {
	content: " ";
	display: inline-block;
	position: absolute;
	top: 45%;
	right: 3px;
	width: 2px;
	height: 2px;
	border-radius: 2px;
	border: 1px solid rgba(255,255,255,0.7);
	background-color: rgba(255,255,255,0.4);
	box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
}

header span.locked.control:after,
.overview div span.locked:after,
.zoomed div span.locked:after {
	border-color: red;
}

.overview div span:after {
	top: 35%;
}

.zoomed div span:after {
	top: 50%;
}

.overview {
	margin-top: 1px;
	padding: 20px 100px;
	background-color: white;
}

.zoomed {
	padding-top: 20px;
	margin-top: 20px;
	background-color: white;
	width: 10000000px;
}

.overview div,
.zoomed div {
	line-height: 18px;
}

.overview div span,
.zoomed div span {
	display: inline-block;
	height: 14px;
	border-radius: 1px;
	position: relative;
}

.zoomed div span {
	box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
}

.zoomed div {
	line-height: 35px;
}


.zoomed div span {
	height: 60px;
	border-radius: 2px;
}

.revenues { 
	background-color: #4E5279;
	width: 230px;
}

.spending {
	background-color: #9f7055;
	width: 360px;
}

.deficit {
	background-color: #e53b51;
	width: 129px;
}

.surplus {
	background-color: #3cb5b5;
	width: 129px;
}

.overview label {
	color: #998;
	display: inline-block;
	margin-left: -86px;
	margin-right: 4px;
	width: 80px;
	text-align: right;
	font-size:.75em;
	line-height: 8px;
}

.overview .in label {
	color: #889;
}