body {
	background-color: #f8f8f8;
	font: 16px/1.5 helvetica;
	margin: 20px 40px;

 	-moz-user-select: none;
 	-webkit-user-select: none;
 	-ms-user-select: none;
}

dt { 
	margin-bottom: 20px;
	font-weight: bold;
}

dl dl dt { 
	margin-bottom: 0px;
	font-weight: normal;
}


[data-variable] {
	background-color: #f0f0f0;
	border: 1px solid #d3d3d3;
	margin: 20px;
	padding: 3px;
	cursor: col-resize;
	font-weight: normal;
}

.locked[data-variable] {
	border-color: red;
}