body {
	background-color: #dcdcca;
	font: 14px/1.5 'Source Sans Pro', sans-serif;
	color: #444;
	padding: 0; margin: 0;

	overflow: hidden;

 	-moz-user-select: none;
 	-webkit-user-select: none;
 	-ms-user-select: none;
}

header {
	margin-left: 100px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 1.2em;
	background-color: #e53b51;
	color: #fff;
	padding: 5px 20px;
}

header h1 { 
	font-size: 1em;
	font-weight: 200;
	line-height: 1.1;
}

header .control {
	background-color: #ce3549;
	padding-left: 3px;
	padding-right: 10px;
	position: relative;
	border-radius: 2px;
}

div[data-variable] { display: inline-block;}

.overview > div {
	position: relative;
}

.overview div div {
	z-index: 3;
}

header .control:after,
.overview div div:after,
.zoomed div div:after {
	content: " ";
	display: inline-block;
	position: absolute;
	top: 45%;
	right: 3px;
	width: 2px;
	height: 2px;
	border-radius: 2px;
	border: 1px solid rgba(255,255,255,0.7);
	background-color: rgba(255,255,255,0.4);
	box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
}

header .locked.control:after,
.overview div div.locked:after,
.zoomed div div.locked:after {
	border-color: red;
}

.overview div div:after {
	top: 35%;
}

.zoomed div div:after {
	top: 50%;
}

.overview {
	margin-top: 1px;
	padding: 20px 100px;
}

.zoomed {
	padding-top: 20px;
	margin-top: 20px;
	background-color: white;
	width: 10000000px;
}

.overview div div,
.zoomed div div {
	display: inline-block;
	height: 14px;
	border-radius: 1px;
	position: relative;
}

.zoomed div div {
	box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
}


.zoomed div div {
	height: 60px;
	border-radius: 2px;
}

.revenues { 
	background-color: #4E5279;
	width: 230px;
}

.spending {
	background-color: #9f7055;
	width: 360px;
}

.deficit {
	background-color: #e53b51;
	width: 129px;
}

.surplus {
	background-color: #3cb5b5;
	width: 129px;
}

.overview label {
	color: #998;
	display: inline-block;
	margin-left: -86px;
	margin-right: 4px;
	width: 80px;
	text-align: right;
	font-size:.75em;
	line-height: 8px;
}

.overview div div.zoomed-shows {
	position: absolute;
	background: white;
	top: 0px;
	left: -2px;
	height: 22px;
	width: 400px;
	z-index: 1;
}

.overview .in label {
	color: #889;
}

.zoomed label {
	color: #998;
	display: block;
	width: 94px;
	text-align: right;
}

.overview [data-variable] {
	color: transparent;
}

.zoomed [data-variable] {
	color: #fff;
}

.zoomed [data-variable] span {
	display: block;
	padding: 10px;
	line-height: 1;
}

.zoomed [data-variable] small {
}